<ul class="list-none p-0 m-0 flex align-items-center font-medium mb-3">
  <li><a class="text-500 no-underline line-height-3 cursor-pointer">Application</a></li>
  <li class="px-2"><i class="pi pi-angle-right text-500 line-height-3"></i></li>
  <li><span class="text-900 line-height-3">Course</span></li>
</ul>

<div class="grid">
  <div class="col-12 xl:col-6" *ngFor="let item of courses">
    <article class="flex flex-column md:flex-row w-full gap-3 p-3 border-round border-1 surface-border surface-card">
      <div class="relative">
        <img src="{{item.imageUrl}}" alt="Image" class="border-round w-full h-full md:w-14rem md:h-14rem">
      </div>
      <div class="flex flex-column w-full gap-3">
        <div class="flex w-full justify-content-between align-items-center flex-wrap gap-3">
          <p class="font-semibold text-lg mt-0 mb-0">{{item.title}}</p>
          <p-rating [(ngModel)]="item.raiting" [cancel]="false" [stars]="5" (onRate)="setValue($event)" [readonly]="true">
          </p-rating>
        </div>
        <p class="font-normal text-lg text-600 mt-0 mb-0">{{item.description}}</p>
        <div class="flex flex-wrap justify-content-between md:h-2rem mt-auto">
          <p class="text-base flex align-items-center text-900 mt-0 mb-1"><i class="pi pi-book mr-2"></i><span
              class="font-medium">{{item.modules}} Modules</span></p>
          <p class="text-base flex align-items-center text-900 mt-0 mb-1"><i class="pi pi-clock mr-2"></i><span
              class="font-medium">2h 40 min</span></p>
          <p class="text-base flex align-items-center text-900 mt-0 mb-1"><i class="pi pi-check-circle mr-2"></i><span
              class="font-medium">{{item.progress}}%</span></p>
        </div>
        <div class="flex justify-content-end mt-0 mb-2">
          <p-button label="Subscribe" icon="pi pi-pencil"></p-button>
        </div>
      </div>
    </article>
  </div>
</div>
